@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff; /* Cambiado a blanco para modo oscuro */
    --shadow-color: #2c1b13; /* Cambiado a blanco para modo oscuro */
  }
}

body {
  color: var(--foreground);
  background-image: url('fondo\ avion.avif'); /* Cambia la ruta por la de tu imagen */
  background-size: cover; /* Ajusta la imagen para que cubra toda el área del fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene la imagen fija cuando se hace scroll */
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply flex flex-col items-center; /* Centra los elementos verticalmente */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
  background-color: var(--background);
}

.text-section {
  @apply flex flex-col items-center mb-10; /* Centra el texto y añade margen en la parte inferior */
}

.enorme {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px; /* Ajusta el tamaño según prefieras */
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: var(--foreground);
               
}

.elegantshadow {
  color: var(--foreground);
  background-color: var(--background);
  letter-spacing: 0.15em;
  text-shadow: 0 1px 0 var(--shadow-color), 
               0 2px 0 var(--shadow-color),
               0 3px 0 var(--shadow-color),
               0 4px 0 var(--shadow-color),
               0 5px 0 var(--shadow-color),
               0 6px 0 var(--shadow-color),
               0 7px 0 var(--shadow-color),
               0 8px 0 var(--shadow-color),
               0 9px 0 var(--shadow-color),
               0 10px 0 var(--shadow-color),
               0 11px 0 var(--shadow-color),
               0 12px 0 var(--shadow-color),
               0 13px 0 var(--shadow-color),
               0 14px 0 var(--shadow-color),
               0 15px 0 var(--shadow-color),
               0 22px 30px rgba(133, 29, 29, 0.9);
}
