/* app/crear-vuelo/CrearVuelo.css */
.CrearVuelo {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    padding: 20px;
    min-height: 100vh; /* Asegura que ocupe toda la pantalla */
  }
  