/* Vuelo.css */
.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.left-section {
  flex: 1;
  margin-right: 20px;
  max-width: 55%; /* Asegura que no ocupe más del 55% */
}

.right-section {
  flex: 0.3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 45%; /* Asegura que no ocupe más del 45% */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
}

.button:hover {
  background-color: black;
  color: white;
}

/* Estilos para el Popover */
.popover-container {
  position: relative;
  display: inline-block;
}

.popover-trigger {
  width: 100%;
  padding: 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
}

.popover-content {
  background-color: white;
  color: black;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 10px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-20px); /* Estilo inicial fuera de la vista */
}

.popover-content.active {
  display: flex; /* Cambiado a flex para que el contenido se muestre correctamente */
  opacity: 1;
  transform: translateY(0); /* Ajustado para mostrar el contenido */
}

.popover-content label {
  font-size: 12px;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
}

.popover-content input {
  padding: 8px;
  width: 100%;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.popover-content button {
  background-color: transparent;
  color: black;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.popover-content button:hover {
  background-color: black;
  color: white;
}
/* Overlay oscuro */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50; /* Asegúrate de que el overlay esté debajo del popover */
  display: none;
}

.overlay.active {
  display: block;
}

/* Asegura que el popover esté encima del overlay */
.popover-content {
  z-index: 100;
}
